@font-face {
    font-family: Lobster;
    src: url('/assets/Lobster.otf');
}
h1,
h2 {
    font-family: Lobster;
    font-weight: normal;
}
h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 2.5em;
}
body {
    margin: 0;
    padding: 0;
    font-family: "segoe ui";
    background-color#2a2b2f;
    background-image: url("/assets/background.jpg");
    background-repeat: repeat;
    background-position: top center;
}

#loaderIcon{
  position:fixed;
  top:40%;
  left:50%;
  width:170px;
  height:170px;
  margin-left:-85px;
  z-index:99999;
}

#loaderIcon #loaderBox{
  position:absolute;
  top:0;
  ;eft:0;
  width:100%;
  height:100%;
  background-color:#fff;
  opacity: 1;
  border-radius: 8px;
  border:1px solid #000;
}

#loaderIcon img{
  position:absolute;
  top:25px;
  left:25px;
  width:120px;
  height:120px;
}

.resume {
    margin: 30px 0;
    padding-bottom: 50px;
    opacity: 0.9;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: -10px 10px 8px #000;
}
.section {
    margin: 20px;
}
.section h1,
.section h2 {
    margin: 0;
}
.section h1 {
    padding-bottom: 45px;
}
.section h2 {
    padding-bottom: 10px;
    border-bottom: 3px solid #bbb;
    margin-bottom: 20px;
}
.resume #profile {}
.resume #profile .icons .fa {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.resume #profile .personalInfo {
    margin-bottom: 15px;
}
.resume .glyphicon-large {
    font-size: 1.5em;
}
.resume #skills {
    position: relative;
}
.resume #skills .markers {
    width: 5%;
    position: absolute;
    top: 9px;
    left: 5px;
    display: inline-block;
}
.resume #skills .markers div {
    margin-bottom: 15px;

}
.resume #skills .skillsGraph .skill {
    position: relative;
    display: inline-block;
    width: 6%;
}
.resume #skills .skillName {
    display: inline-block;
    width: 25%;
    color: #333;
    white-space: nowrap;
}
.resume #skills .skillValue {
    display: inline-block;
    border: 1px solid #555;
}
.resume #skills .skillsGraph .skillName {
    position: relative;
    bottom: 5px;
    left: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.resume #skills .skillsGraph .skillValue{
  width: 50%;
  border-bottom: none;
}

.resume #skills .skillsGraphContainer {
    position: relative;
    height: 125px;
}
.resume #skills .skillsContainer {
    position: absolute;
    top: 0;
    left: 60px;
    width: 90%;
    display: inline-block;
    height: 120px;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
}
.resume #skills .skillsGraph {
    position: absolute;
    bottom: 0;
    left: 65px;
}
.resume #skills .skillsContainer .flawless {
    position: absolute;
    top: 20px;
    border-top: 1px solid #ddd;
}

.resume #skills .compactSkills{
  border-right:1px solid #ddd;
}


.resume #skills .compactSkills .skill {
    padding: 3px 0;
    clear:both;
}
.resume #skills .compactSkills .skillName {
  float:left;
  width:32%;
}

.resume #skills .compactSkills .skillValueContainer{
  float:left;
  width:68%;
}

.resume #skills .compactSkills .skillValueContainer .skillValue {
    position: static;
    height: 15px;
}
.resume #workexperience .workitem {
    margin-bottom: 15px;
}
.resume #workexperience .workitem {
    border-left: 1px solid #999;
}
/*bootstrap overrides*/
.container-fluid{
  max-width: 1300px;
}
.bg-info {
    background-color: #1FBCB8;
}
.text-info {
    color: #1FBCB8;
}

@media only screen and (max-width: 767px){
  .resume{
    margin:0;
  }
}

@media print {
    .resume {
        width: 100%;
        border: none;
        padding: 0;
        margin:0;
    }
    .section {
        margin: 8px 0 0;
    }
    .skillsGraphContainer {
        display: block !important;
    }
    .compactSkills {
        display: none !important;
    }
    .section h1 {
        font-size: 2.5em;
        margin: 0 0 20px;
        padding: 0;
    }
    .section h2 {
        font-size: 1.5em;
        margin: 10px 0;
        padding: 0;
    }


}
