<div class="section row" id="education" *ngIf="person">
  <h2>Education</h2>
  <div *ngFor="let edu of person.education">
  <div class="col-xs-6">
      <div>
        <div class="text-info text-uppercase"><strong>{{edu.degree}}</strong></div>
        <div><em>{{edu.school.name}} - {{edu.school.city}}, {{edu.school.state}}</em></div>
        <div><em>{{edu.startDate}} - {{edu.endDate}}</em></div>
      </div>
  </div>
  </div>
</div>
