<div class="section row" id="profile" *ngIf="person">
  <h1>{{person.name}}</h1>
  <div class="row">
    <div class="icons">
      <div class="col-xs-12 col-sm-4">
        <span class="fa fa-birthday-cake fa-2x"></span>
        <span class="">Date of Birth: {{person.dateOfBirth}}</span>
      </div>
      <div class="col-xs-12 col-sm-4">
        <span class="fa fa-envelope fa-2x"></span>
        <a href="mailto:{{person.email}}" class="hidden-print">{{person.email}}</a>
        <span class="visible-print-inline">{{person.email}}</span>
      </div>
      <div class="col-xs-12 col-sm-4">
        <span class="fa fa-phone-square fa-2x"></span>
        <a href="tel:{{person.phone}}" class="hidden-print">{{person.phone}}</a>
        <span class="visible-print-inline">{{person.phone}}</span>
      </div>
      <div class="col-xs-12 col-sm-4">
        <span class="fa fa-location-arrow fa-2x"></span>
        <span class="address">{{person.address.city}}, {{person.address.state}}</span>
      </div>
      <div class="col-xs-12 col-sm-4">
        <span class="fa fa-link fa-2x"></span>
        <a href="http://www.{{person.webAddress}}" class="hidden-print">{{person.webAddress}}</a>
        <span class="visible-print-inline">{{person.webAddress}}</span>
      </div>
      <div class="col-xs-12 col-sm-4">
        <span class="fa fa-linkedin fa-2x"></span>
        <a href="{{person.linkedin.address}}" target="_blank" class="hidden-print">{{person.linkedin.name}}</a>
        <span class="visible-print-inline">{{person.linkedin.name}}</span>
      </div>
    </div>
  </div>
</div>
