<div class="section row" id="skills" *ngIf="person">
    <h2>Skills</h2>
    <div>
        <div class="hidden visible-lg visible-md visible-sm skillsGraphContainer">
            <div class="markers">
                <div>
                    Flawless
                </div>
                <div>
                    Good
                </div>
                <div>
                    Rookie
                </div>
            </div>
            <div class="skillsContainer">
                <div class="flawless col-xs-12"></div>
            </div>
            <div class="skillsGraph col-lg-11">
                <span *ngFor="let skill of person.skills; let i = index">
          <span class="skill">
            <span class="skillName">{{skill.name}}</span>
                <span class="skillValue bg-info wow bounceIn" [attr.data-wow-delay]="i*.1 + 's'" [ngStyle]="{'height':skill.familiarity + 'px'}"></span>
                </span>
                </span>
            </div>
        </div>
        <div class="hidden visible-xs compactSkills">
        <div *ngFor="let skill of person.skills; let i = index">
          <div class="skill">
            <span class="skillName">{{skill.name}}</span>
            <span class="skillValueContainer">
              <span class="skillValue bg-info" [ngStyle]="{'width':skill.familiarity + '%'}"></span>
            </span>
          </div>
        </div>
    </div>


</div>
</div>
